.drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 90%;
    font-family: sans-serif;
  /*  margin: 100px auto; */  
    padding: 20px;
    height: 10em;
  }
  .highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #galeria {
    margin-top: 10px;
  }
  #galeria img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }
  