:root{
    --widthIamge: 50vw;
}

.carousel_container{
    overflow: hidden;
    position: relative;
    align-items: unset;
    width: var(--widthIamge);
    border: 3px solid black;
}

.carousel_item{
    width: 100%;
    flex: 0 0 auto;
}

.carousel_item, .carousel_item--hidden{
    display: none;
}

.carousel_item--visible{
    display: block;
}

.carousel_item .image{
    max-width: 800px;
    width: 100%;
    height: auto;
}

.carousel_buttons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel_buttons button{
    cursor: pointer;
    padding: 0.3em;
    font-weight: bold;
    font-size: 3em;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: 0;
    transition: 0.3s ease;
    background-color: #d8d8d880;
}

/* Añade un fondo negro a los botones */
#carousel_siguiente:hover, #carousel_anterior:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#carousel_siguiente{
    border-radius: 3px 0 0 3px;
}

.image{
    margin: 0;
    width: 100%;
    display: block;
}


/* -------------Animaciones de transicion------ */
/* Fade */
.fade{
    animation: fadevisibility 0.5s ease-in-out;
}
@keyframes fadevisibility{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: opacity linear;
    }
}

/* Slider */

.carousel_images{
    all: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.classSlide{
    transform: translateX(calc(-1 * var(--widthIamge)));
}
.classSlideTranslateAnt{
    transition: 0.1s;
    transform: translateX(0px);
}
.classSlideTranslateNext{
    transition: 0.1s;
    transform: translateX(calc(-1 * var(--widthIamge) * 2));
}

/* ---------------Animaciones end--------------- */

/* Radio buttons */
.radioButtons{
    display: grid;
    grid-template-areas:    "radio1 text1"
                            "radio2 text2";
    padding: 1em;
}
.radioButtons .label1{
    grid-area: text1;
}
.radioButtons .label2{
    grid-area: text2;
}
#fade{
    margin-right: 0.3em;
    grid-area: radio1;
}
#slider{
    margin-right: 0.3em;
    grid-area: radio2;
}
/* end Radio Buttons */


/* Thumbs */
.thumbs{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.thumb{
    cursor: pointer;
    height: 4em;
    width: 8em;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .thumb:hover {
    filter: brightness(50%);
    animation-name: brightLess;
    animation-duration: 1s;
}
/* End Thumbs */


/* Barra de progreso */
#idProgress{
    /* width: 70%; */
    width: var(--widthIamge);
    height: 2em;
}

/* Loader, animación de carga de imágenes */
.loader{
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (min-width: 768px) {

    .thumbs{
        justify-content: center;
    }

}
    