.PawMenu {
	background-color:var(--azul);
	width: 3rem;
	border-right: 3px solid black;
	overflow: hidden;
	font-size: medium;
	/* para que no se rompa por los estilos de los demas archivos CSS */
	display: block;
	right: 0;
	z-index: 100;
}

.PawMenu.PawMenuCerrado {
	width: 3.5rem;
	transition-duration: 0.25s;
	transition-property: width;
}

.PawMenu.PawMenuCerrado ul {
	opacity: 0;
	transition: 0.25s all;
}

.PawMenu.PawMenuAbierto {
	width: 100%;
	height:max-content;
	transition-duration: 0.25s;
	transition-property: width;
	position: absolute;
	padding-bottom: 32px;

}
.PawMenu.PawMenuAbierto ul {
	opacity: 1;
	transition: 0.25s all;
}

.PawMenu a {
	color:white;
	text-decoration: none;

}

.PawMenu ul {
	cursor: pointer;
	clear: both;
	display: list-item;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.PawMenu ul li ul {
	max-height: 0;
	overflow: hidden;
	transition: 0.25s all;
}

.PawMenu ul li:hover ul {
	max-height: 100vh;
	transition: 0.25s all;
}

.PawMenu ul li {
	display: block;
	padding: 0.5rem;
}

.PawMenu p {
	display: block;
	padding: 0.5rem;
	border-bottom: 2ps solid black;
}

.PawMenu > ul > li:hover {
	border: black solid 3px;
	border-width: 3px 0;
}



/* Funcionalidad Botón Hamburguesa */
.PawMenu button {
	float: right;
	border: 0;
	width: 2rem;
	height: 2rem;
	margin-top: 45px;
	margin-right:10px;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}

.PawMenu button:hover,
.PawMenu button:focus {
	margin-left: 0;
}

.PawMenu button::before,
.PawMenu button::after {
	display: block;
	position: absolute;
	content: " ";
	width: 2rem;
	height: 0.2rem;
	background-color: white;
	transition-property: all;
	transition-duration: 0.25s;
	border-radius: 0.2rem;
}

.PawMenu button.PawMenuAbrir::before {
	transform: translateY(-1rem) rotate(0);
	box-shadow: 0 0.6rem 0 white;
}

.PawMenu button.PawMenuAbrir::after {
	transform: translateY(0.2rem) rotate(0);
}

.PawMenu button.PawMenuCerrar::before {
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0.6rem 0 transparent;
}

.PawMenu button.PawMenuCerrar::after {
	transform: translateY(0) rotate(-45deg);
}

.icono-flecha-abajo-blanca{
    background-image: url("/imagenes/outline_expand_more_white_24dp.png");
	float: right;
	border: 0;
	width: 3rem;
	height: 2rem;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	margin-inline-end: 1em;
	bottom: 1em;
	background-repeat: no-repeat;
}

ul.ul-turnos.mostrar-submenu{
	display: inline;
	text-align: left
}

ul.ul-turnos.mostrar-submenu a{
	display: flex;
	text-align: left;
	margin-left: 4em;
	color: var(--celeste);
}

.li-cuenta{
	color: white;
}
