@font-face {
    font-family: equipo1Fonts;
    src: url("/fonts/Intro-Regular/Intro-Regular.ttf"); }

 *{
    font-family: equipo1Fonts;
    margin: 0;
    padding: 0;
 }

:root {
    --main_bg_color:white;/*color del fondo*/
    --azul: #0c3f6a;
    --violeta:#4f2c80;
    --celeste:#00add8;
    --gris:#8b8a8f;
    --celeste_footer: #51c4d3;
    --azul_footer: #153d70;
    --celeste_footer: #51c4d3;
}

body{
    background-color: var(--celeste);
} 

h1{
    color: white;
    text-align: center;
    margin-top: 2em;
    font-size: xx-large;
}
