.button{
    width: 50%;
}

section {
    font-size:x-large;
    line-height: 2em;
    color:var(--violeta);
}
/* Esto no es cascada, se podria mejorar en una futura version 
refinando styles.css -- Atte. Facundo :D*/
section p{
    color:var(--violeta);
}

section h2{
    font-size:xx-large;
} 

main{
    padding: 5em;
    background-color: var(--gris);
}
