

html{
    height: 100%;
}

body {
    background: white;
}

main {
    background: transparent;
    display: flex;
    align-items: flex-end;
}

main section{
    align-items: flex-end;
}

main h2{
    font-weight: bold;
    color: var(--azul);
    font-size: xx-large;
}

main h3{
    margin-top: 1em;
}

main p{
    color: var(--gris);
    margin-top: 1em; 
}

body > main:nth-child(2) > section:nth-child(2) > section:nth-child(3) > p:nth-child(2){
    display: none;
}

main ul li{
    margin-top: 1em;
    color: var(--gris);
    list-style-type: circle;

}

.directorio img{
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

.directorio figcaption{
    background-color:aliceblue;
    border-radius: 2%;
    margin: 0.1em;
}

.Directores h4{
    display: none;
}

.Gerente{
    flex-direction: row;
}
    .Gerente h4{
        display: none;
    }

.Lider{
    flex-direction: row;
}
    .Lider h4{
        display: none;
    }

@media (min-width: 768px) {

    body {
        background: 
        linear-gradient(62deg, transparent 50%,rgb(255, 255, 255) 0%), url('/imagenes/laptop-wallpaper-1920x1080.jpg') ;
        /* background-size: auto 200%; */
    }

}