main{
    background-color: white;
}
form{
    border: none;
}

body{
    /* background: rgb(255,255,255);
    background: linear-gradient(62deg, rgba(255,255,255,1) 55%, rgba(21,61,112,1) 55%, rgba(21,61,112,1) 68%, rgba(0,173,216,1) 68%, rgba(0,173,216,1) 86.8%, rgba(255,255,255,1) 87%, rgba(90,199,228,1) 87%); */
}

h2{
    font-size: xx-large;
}

main h3{
    font-size: x-large;
    color: var(--gris);
}

.container-main{
    align-self: flex-start;

}

.filtro-section{
    color: var(--gris);
}
h2{
    font-size: xx-large;
    font-weight: bold;
    padding: 1em;
}

.turnos-section{
    width: 99%;
    display: flex;
}
    .turnos-section > h4{
        display: none;
    }

.filtro-section{
    width: 100%;
}
article{
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    background-color: lightgrey;
}
    article p{
        width: 90%;
        color: rgb(77, 77, 77);
    }

article a{
    padding: 0.5em;
}

main > a{
    padding: 1em;
}

#filtro{
    background-image: url('/imagenes/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width: 80%;
}

@media (min-width: 768px) {

    main{
        -webkit-box-shadow: 2px 0px 23px -1px #000000; 
        box-shadow: 2px 0px 23px -1px #000000;
    }

    html{
        height: 100%;
    }

    .container-main{
        align-self: flex-start;
    }

    .turnos-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
    }

    article{
        width: 25%;
    }
}