body main{
    background-color: transparent;
}

h2{
    font-size: xx-large;
    font-weight: bold;
    padding: 1em;
    color: var(--azul_footer);
}

.container-noticias{
    width: 99%;
    display: flex;
}
    .container-noticias h4{
        display: none;
    }

article{
    border-radius: 1em;
    margin: 1em;
    background-color: lightgrey;
}
    article p{
        width: 90%;
        color: rgb(77, 77, 77);
    }

figure{
    text-align: center;
}

    figure img{
        border: solid 1px;
        border-radius: 1em;
        width: 90%;
        margin: 0.5em;
    }
    article h3{
        font-size: x-large;
        font-weight: bold;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

article a{
    padding: 0.5em;
}

main > a{
    padding: 1em;
}

@media (min-width: 768px) {

    h2{
        color: white;    
    }

    .container-noticias{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
    }

    article{
        width: 25%;
    }
    

}