main{
    background-color: transparent;
}

.container-Noticia{
    width: 90%;
    text-align: center;
}
    .container-Noticia img{
        width: 70%;
    }

h2{
    font-weight: bold;
    font-size: xx-large;
    padding: 1em;
}

.texto-Completo{
    font-size: large;
    text-align: justify;
}



@media (min-width: 768px) {

    .container-Noticia{
        width: 80%;
        box-shadow: 2px 0px 23px -1px #000000;
        padding:2em;
        border-radius: 1em;
        background-color: white;
    }

    .texto-Completo{
        font-size: large;
        width: 90%;
    }

    time{
        font-size: x-large;
    }
    
}