main{
    background-color: transparent;
}

article{
    text-align: center;
}

    article h2{
        font-size: xx-large;
        font-weight: bold;
        padding: 1em;
    }

    figure img{
        margin-bottom: 0px;
        width: 90%;
    }

    figcaption{
        margin: 0px;
    }

    article p{
        padding: 1em;
        text-align: left;
    }

    article p:nth-child(4)::first-letter{
        font-size: 500%;
        font-weight: bolder;
        float:left;
        color: var(--azul_footer);
    }


@media (min-width: 768px) {
    article{
        width: 70%;
        background-color: white;
    }
        article img{
            width: 60%;
        }
}
