:root {
    --azul: #0c3f6a;
    --gris:#8b8a8f;
}
html{
    height: 100%;
}

main{
    background-color: transparent;
}
main h2{
    font-weight: bold;
    font-size: larger;
    color: white;
}
main p{
    color: white;
}
main form{
    margin: 0.9em;
    width: 80%; 
    display: flex;
    flex-direction: column;
}
main form label{
    width: 100%; 
    display: block;
    text-align: left;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
    main form label input{
        width: 98%;
        background-color: lightgrey;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
    }
.NAC-AGE{
    display: flex;
    align-items: center;
}
.label-nac{
    flex: 3 1 auto;
}
.label-output{
    display: flex;
    align-items: center;
    justify-content: center;
    border: groove;
    width: 20%;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.buttons-form{
    display: flex;
    text-align: center;
    margin: 0.2em;
}
    .buttons-form input{
        width: 50%;
        padding: 0.5em;
        margin: 0.5em;
        font-size: large;
    }
#inputSubmit{
    background-color: var(--azul);
    color: white;
    border: none;
}

@media (min-width: 768px) {
    .Formulario_Nuevo_Turno{
        width: 40%;
        width: 50%;
    }

    table{
        text-align: center;
        border: solid 0.2em;
        border-color: var(--azul);
    }

    table td,th{
        padding: 0.5em;
    }
    table th {
        background-color: var(--azul);
        color: white;
        border-left: solid white 0.1em;
    }
    .disponible:hover {
        background-color: #8ac83f;
        color: white;
        outline: 0.1em solid  white;
        outline-offset: -0.25em;
    }

    tr td:first-child {
        background-color: var(--gris);
        color: white;
        border-bottom: solid white 0.1em;
    }

    .disponible{
        background-color: white;
        color: #518216;
        outline: 0.1em solid  #518216;
        outline-offset: -0.25em;
        font-weight: bold;
        cursor: pointer;
    }
    .no-disponible {
        background-color: white;
        color: #FA1E0E;
        outline: 0.1em solid #FA1E0E;
        outline-offset: -0.25em;
        font-weight: bold;
    }
}