<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <!-- Contenido de head.php -->
        <link rel="stylesheet" href="/assets/css/reset.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Angel Gallozo, Facundo Williams y Sebstián Marchetti">
        <meta name="description" content="This web page is for the course Programacion en ambiente web, Universidad Nacional de Lujan">
        <meta name="keywords" content="HTML, CSS, paw, unlu, html5">
        <link rel="icon" href="/imagenes/logoPixelado.ico"> 
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/profes-esp.css">
        <title>{% block titulo %} {{title}} {% endblock %}</title>
        <script src="/js/AppPaw.js"> </script>
        <script src="/js/components/Paw.js"> </script>
    {% endblock %}
</head>
<body>
    <header>
    {% block header %}
        <!-- Cabecera de la página, del header.php -->
        <h1 class="logo-link">  
            <a href="/">                            
                <span class="logo"></span>
                UNLuPAW Medical Group
            </a>
        </h1>
        <ul>
            <li><span>Orientacion: 0810-444-7700</span></li>
            <li><span>Urgencias: 0800-777-7800</span></li>
            <li><span>Informacion al socio: 0810-444-7700</span></li>
        </ul> 

        <!-- Barra de navegacion -->
        <nav>
            <ul>
                {% for items in menu %}
                    <li><a href="{{items.href}}">{{items.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {% endblock %}
    </header>

    <body>
        {% block body %}
        <section class="container-tel"> <!--seccion de numeros de contacto -->
            <span class="telefonoVerde"></span>
            <h2>Teléfonos</h2>
            <ul>
                <li>Tel Urgencias: 0800-XXX-XXXX</li>
                <li>Tel Urgencias: 0800-XXX-XXXX</li>
            </ul>
        </section>
        {% endblock %}
    </body>
    
    <footer>
    {% block footer %}
        <!-- Logo -->
        <h3 class="logo-link-footer">  
            <a href="/">                            
                <span class="logo"></span>
                UNLuPAW Medical Group
            </a>
        </h3>

        <!-- Direcciones -->
        <address>
            <p>&copy;UNLuPAW Medical Group</p>
            <ul>
                <li>Aviso Legal</li>
                <li>Dirección: Calle Falsa 123</li>
                <li>Correo:<a href="#"> unlupaw@medicalgroup.com</a></li>
            </ul>
        </address> 

       <!-- Social -->
       <nav>
            <ul>
                <li id="iconoF"><a href="https://www.facebook.com"><span class="icon-face"></span></a></li> 
                <li id="iconoT"><a href="https://twitter.com"><span class="icon-Twitter"></span></a></li> 
                <li id="iconoI"><a href="https://www.instagram.com"><span class="icon-Insta"></span></a></li> 
                <li id="iconoL"><a href="https://ar.linkedin.com"><span class="icon-LinkedIn"></span></a></li>
            </ul>
        </nav>
        
        <!-- Copyright -->
        <p>Autores: Facundo Williams, Angel Gallozo, Sebastian Marchetti.</p>
        {% endblock %}
    </footer>

</body>
</html>