{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/profes-esp.css">
{% endblock %}

{% block body %}
<!-- Profesionales y especialidades -->
<main class="container-especialidad">
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/html/profesionales-especialidades.html">Especialidades/Profesionales</a></li>
            <li><a href="/html/especialidad.html">Especialidad</a></li>
        </ul>
    </nav> 
    <h2>Especialidades</h2>
    <section>
        <h3> {{ especialidad['Name'] }} </h3>
        <section class="info-especialidad descripcion">
            <h4>Descripcion</h4>
            <p> {{ especialidad['Descripcion'] }} </p>
        </section>
        <a class="button btn-especialidad" href="/nuevo-turno?id_esp={{ especialidad['ID_Esp'] }}">Sacar Turno</a>
        <section class="info-especialidad profesionales">
            <h4>Profesionales Asociados</h4>
            <ul>
                {% for prof in profAsociados %}
                    <li> <a class="arrow-right" href="/profesional?id=<?={{ prof['ID_Prof'] }}"> {{ prof['Name'] }} </a> </li>
                {% endfor %}
            </ul>
        </section>
    </section>

    {{ parent() }}

</main>
{% endblock %}