{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/profes-esp.css">
{% endblock %}

{% block body %}
<main class="container-esp_pro">
    {% if tipo is defined %}
        {{ include('mensaje.html') }}
    {% endif %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profesionales-especialidades">Especialidades/Profesionales</a></li>
        </ul>
    </nav> 
    <h2>Especialidades y Profesionales</h2>
    <section class="container-esp">
        <h3>Lista de Especialidades</h3>
        <form action="/especialidades/buscar" method="POST" >
            <label for="especialidad-search">Ingrese Especialidad:</label>
            <fieldset>
            <input type="text" name="input-esp-search" id="especialidad-search" placeholder="Alergia e Inmunología" pattern="[a-zA-Z ]+">
            <input type="submit" id="btn-esp-search" value="Buscar">
            </fieldset>
        </form>

        <ul class="container-esp">
            {% for esp in especialidades %}
                <li> 
                    <a class="arrow-right" href="/especialidad?id={{ esp['ID_Esp'] }}"> 
                        {{ esp['Name'] }}
                    </a> 
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="container-prof">
        <h3>Lista de Profesionales</h3>
        <form action="/profesionales/buscar" method="POST">
            <label for="profesional-search">Ingrese Nombre o Apellido del Profesional:</label>
            <fieldset>
                <input type="text" name="input-prof-search" id="profesional-search" placeholder="Juan Pérez" pattern="[a-zA-Z ]+">
            <input type="submit" id="btn-prof-search" value="Buscar">
            </fieldset>
        </form>
       
        {% for prof in profesionales %}
            <article>
                <img src="/imagenes/doctor.svg" alt="foto-del-profesional">
                <h4> 
                    <a href="/profesional?id={{ prof['ID_Prof'] }}">
                        {{ prof['Name'] }}
                    </a> 
                </h4>
                <p> {{ prof['Descripcion_Cargo'] }} </p>
            </article>
        {% endfor %}
    </section>

    {{ parent() }}
    
</main>

{% endblock %}
