{% extends "basic.html" %}

{% block body %}
<main>
    {% if tipo is defined %}
        {{ include('mensaje.html') }}
    {% endif %}
    <section class="avisos">
        <h2>Avisos importantes</h2>
        <article>
            <h3>COVID-19</h3>
            <p>La campaña de vacunación COVID-19 es de orden público y está siendo gestionada por cada jurisdicción.</p>
            <p>Para más información, visitá el sitio web del Ministerio de Salud de la Nación: <a href="https://www.argentina.gob.ar/coronavirus/vacuna">Vacuna COVID-19 | Argentina.gob.ar </a></p>
        </article>  
    </section>
    <!-- Home -->
    <section class="presentacion">
        <h4>Presentacion</h4>
        <figure>
            <img src="/imagenes/medicos.jpg" alt="imagen de tanques de oxigeno">
        <figcaption>
            <p>Somos...</p> 
            <p>Más que un Equipo</p>
            <a href="/nuevo-turno" class="button">Solicitar Nuevo Turno </a>
        </figcaption>
        </figure>
    </section>

    <!--Buscar Profesionales, Especialidades y Obras sociales  -->
    <h2>Buscar</h2>
    <form action="/buscar" method="POST" class="form-home">
        <label for="input-all-search">Buscar profesionales, especialidades, obras Sociales</label>
        <fieldset class="home-search-set">
            <input type="text" name="input_all_search" id="input-all-search" placeholder="Pérez/Oftalmología/Austral">
            <button type="submit" class="botonBusqueda"> </button>
        </fieldset>
    </form>  

    <section class="noticias-home">
        <h2>Noticias</h2>
        <article >
            <h3> Rusia registró la vacuna Sputnik Light de una sola dosis: que eficacia tiene </h3>
            <figure>
                <img src="/imagenes/covid19.jpg" alt="imagen de vacuna covid19">
                <figcaption>Fig.1 - Vacuna Sputnik Light</figcaption>
            </figure>
            <p>
                Las autoridades rusas aprobaron el uso de la vacuna de una dosis contra el coronavirus Sputnik Light, que consiste en el primer componente de la Sputnik V, 
                tras estudios que demostraron que presenta una eficacia del 79%, incluso contra las nuevas variantes conocidas, anunció el Fondo Ruso de Inversión Directa 
                (RDIF, por sus siglas inglesas), que comercializa el inmunizante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <article >
            <h3>Hisopados en Ezeiza: uno de los laboratorios investigados publicó una solicitada</h3>
            <figure>
            <img src="/imagenes/isopadoCovid19.jpg" alt="imagen de hisopado covid19">
                <figcaption>Fig.1 - Hisopado</figcaption>
            </figure>
            <p>
                Sanity Care es uno de los laboratorios investigados en el marco de la causa que investiga las supuestas irregularidades en la realización de hisopados 
                rápidos en el Aeropuerto de Ezeiza y publicó una solicitada en la que asegura que "se pretendió enmarañar el buen nombre de la empresa" con "información 
                errónea publicada sin constatar su veracidad".
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
            </p>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </article>
        <article >
            <h3>Coronavirus en India: cómo la crisis por la pandemia puede afectar la economía mundial</h3>
            <figure>
                <img src="/imagenes/tanquesOxigeno.jpg" alt="imagen de tanques de oxigeno">
            <figcaption>Fig.1 - Tanques de Oxigeno</figcaption>
            </figure>
            <p>
                La segunda ola de la pandemia ha golpeado a India con un impacto devastador.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
            </p>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </article>            
    </section>


    <!-- Carousel -->
    <section class="carousel_container">
        <!-- Imagenes -->
        <section class="carousel_images">
            <figure class="carousel_item carousel_item--visible">
                <img src="/imagenes/img1.jpg" alt="imagen1" class="image">
            </figure>
            <figure class="carousel_item">
                <img src="/imagenes/img2.jpg" alt="imagen2" class="image">
            </figure>
            <figure class="carousel_item">
                <img src="/imagenes/img3.jpg" alt="imagen3" class="image">
            </figure>
            <figure class="carousel_item">
                <img src="/imagenes/img4.jpg" alt="imagen4" class="image">
            </figure>
        </section>
    </section>

    {{ parent() }}
    
</main>
{% endblock %}