{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/errores.css">
{% endblock %}

{% block body %}
<main>
    <section>
        <h2>¡Error en el servidor!</h2>
        <p>Se ha producido un error en nuestros servidores</p>
        <p>Estamos trabajando en poder solucionarlo</p>
        <p>Código de error: 500</p>
        <a href="/" class="button">Ir al Inicio</a>
    </section>    

    {parent{{}}}
</main>
{% endblock %}