{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/listado-turnos.css">
    <script src="/js/Agenda.js"> </script>
{% endblock %}

{% block body %}
<!-- Listado de turnos-->
<main>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listado-turnos">Listado de Turnos</a></li>
        </ul>
     </nav> 

    <a href="/nuevo-turno" class="button">Solicitar Nuevo Turno </a>

    <section class="filtro-section">
        <h2>Listado de Turnos:</h2>
        <h3>Filtrar: </h3>
        <label for="filtro">Filtrar por algún campo</label>
        <input type="text" id="filtro" placeholder="15/05, revisión, oftalmología, Fernandez, Pilar.." title="Type in a name">
    </section>

    <section class="turnos-section">
        <h4>Turnos</h4>
        <article>
            <h4>Turno:</h4>
            <ul>
                <li>Fecha y Hora</li>
                <li>Práctica</li>
                <li>Especialidad</li>
                <li>Profesional</li>
                <li>Ubicación</li>
            </ul>
        </article>
        <article>
            <h4>Turno:</h4>
            <ul>
                <li>Fecha y Hora</li>
                <li>Práctica</li>
                <li>Especialidad</li>
                <li>Profesional</li>
                <li>Ubicación</li>
            </ul>
        </article>
        <article>
            <h4>Turno:</h4>
            <ul>
                <li>Fecha y Hora</li>
                <li>Práctica</li>
                <li>Especialidad</li>
                <li>Profesional</li>
                <li>Ubicación</li>
            </ul>
        </article>
        <article>
            <h4>Turno:</h4>
            <ul>
                <li>Fecha y Hora</li>
                <li>Práctica</li>
                <li>Especialidad</li>
                <li>Profesional</li>
                <li>Ubicación</li>
            </ul>
        </article>
        <article>
            <h4>Turno:</h4>
            <ul>
                <li>Fecha y Hora</li>
                <li>Práctica</li>
                <li>Especialidad</li>
                <li>Profesional</li>
                <li>Ubicación</li>
            </ul>
        </article>
        <article>
            <h4>Turno:</h4>
            <ul>
                <li>Fecha y Hora</li>
                <li>Práctica</li>
                <li>Especialidad</li>
                <li>Profesional</li>
                <li>Ubicación</li>
            </ul>
        </article>
    </section>

    {{parent()}}
    
</main>
{% endblock %}