{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/register.css">
{% endblock %}

{% block body %}
<main>
    {% if tipo is defined %}
        {{ include('mensaje.html') }}
    {% endif %}
    <form action="/ingresar" method="POST">
    <label for="email">Ingrese Correo Electrónico:</label>
    <input type="email" id="email" name="Email">
    <label for="password">Ingrese Contraseña:</label>
    <input type="password" id="password" name="Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
    <input type="submit" value="Ingresar">
    <a href="/registrarse"> Registrarse</a>
    </form>

    {{parent()}}

</main>
{% endblock %}