{% if tipo == 1 %}
    <section class="mensaje-al-usuario-exitoso">
{% elseif tipo == 2 %}
    <section class="mensaje-al-usuario-error">
{% endif %}
<h2> {{ tituloMensaje }} </h2>
<p> {{ descripcionMensaje }} </p>
</section>