{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/errores.css">
{% endblock %}

{% block body %}
<main>
    <section>
        <h2>¡No encontramos la página solicitada!</h2>
        <p>Por favor revisá el link ingresado</p>
        <p>La página podría no estar disponible temporalmente</p>
        <p>Código de error: 404</p>
        <a href="/" class="button">Ir al Inicio</a>
    </section>

    {{parent()}}

</main>
{% endblock %}