{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/noticia.css">
{% endblock %}

{% block body %}
<!-- Noticias -->
<main>
    <!-- El sigueinte nav es de referencia a las pag anteriores-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/noticias">Noticias</a></li>
        </ul>
    </nav> 
    <section class="container-Noticia">
        <h2> {{noticia['Titulo']}} </h2>
        <p> <time>  {{noticia['Fecha']}}  </time> </p>
        <figure>
            <img src="{{noticia['Imagen_Large']}}" alt="imagen de la noticia">
        </figure>
        <p class="texto-Completo">
            {{noticia['Texto_Completo'] | nl2br}} 
        </p>
    </section>

    {{ parent() }}
    
</main>

{% endblock %}