{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/noticias.css">
{% endblock %}

{% block body %}
<!-- Noticias -->
<main>
    <!-- El sigueinte nav es de referencia a las pag anteriores-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/noticias">Noticias</a></li>
        </ul>
    </nav> 
    <h2>Noticias</h2>
    <section class="container-noticias">
        <h4>Noticias</h4>
        {% for noticia in noticias %}
            <article>
                <h3> {{noticia['Titulo'] }}</h3>
                <figure>
                    <img src=" {{noticia['Imagen_Small']}}" alt="imagen generica">
                </figure>
                <p>  {{noticia['Descripcion']}}  </p>
                <a href="/noticia?id={{noticia['ID_Noticia']}}"> ver más...</a>
            </article>
        {% endfor %}
    </section>
    
    <a href="#" class="btn-more-notices"> Ver más noticias</a>

    {{ parent() }}
</main>
{% endblock %}