{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/nuevoTurno.css">
{% endblock %}

{% block body %}
<!-- Nuevo Turno -->
<main >
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/nuevo-turno">Solicitud Nuevo Turno</a></li>
        </ul>
    </nav> 
    {% if tipo is defined %}
        {{ include('mensaje.html') }}
    {% endif %}
    <h2>Solicitud de Turno Nuevo</h2>
    <p>Utilice los iconos de calendario para ingresar fechas</p>
    <form action="/nuevo-turno/registrar" method="POST" name="Formulario_Nuevo_Turno" class="Formulario_Nuevo_Turno" enctype="multipart/form-data">
        <label>Nombre y Apellido:
            <input type="text" id="input_NomApe" name="input_NomApe" required placeholder="Miguel Torres">
        </label>

        <label for="input_Mail">Correo Electronico
            <input type="email" id="input_Mail" name="input_Mail" required placeholder="ejemplo@dominio.com">
        </label>

        <label for="input_Tel">Telefono:
            <input type="tel" id="input_Tel" name="input_Tel"  placeholder="2323 XXXXXX" patter= "/[0-9]+$/" required>
        </label>


        <fieldset class="NAC-AGE">
            <!-- inpu_Edad.value = funcion de php? -->
            <label for="input_Nacimiento" class="label-nac" 
                oninput="input_Edad.value=1">Fecha de Nacimiento:
                <input type="date" id="input_Nacimiento" name="input_Nacimiento" 
                max="{{'now'|date_modify('-15 year')|date('d - m -Y')}}" 
                min="{{'now'|date_modify('-100 year')|date('d - m -Y')}}"
                required>
            </label>
            <label for="input_Edad" class="label-output">Edad:
                <output id="input_Edad" name="input_Edad"></output>
            </label>
        </fieldset>

        <label for="especialidad">Ingresar nombre de la Especialidad
            <input list="especialidades" name="especialidad" id="especialidad"
            value="{{1 == especialidades|length ? especialidades[0]['Name'] : ''}}" {{1 == especialidades|length ? 'readonly' : '' }} required>
        </label>
        <datalist id="especialidades">
            {% if especialidades|length > 1 %}
                {% for esp in especialidades %}
                <option value="{{esp['Name']}}"> {{esp['Name']}}</option>
                {% endfor %}
            {% endif %}
        </datalist>
        
        <label for="profesional">Ingresar nombre del Profesional
            <input list="profesionales" name="profesional" id="profesional"
            value="{{1 == profesionales|length ? profesionales[0]['Name'] : ''}}" {{1 == especialidades|length ? 'readonly' : '' }} required>
        </label>
        <datalist id="profesionales">
            {% if profesionales|length > 1 %}
                {% for prof in profesionales %}
                <option value="{{prof['Name']}}"> {{prof['Name']}}</option>
                {% endfor %}
            {% endif %}
        </datalist>

        <label for="FechaTurno"> Seleccionar la Fecha del Turno
            <input type="date" id="FechaTurno" name="FechaTurno" min="{{'now'|date('d - m -Y')}}" required>
        </label>

        <label for="HoraTurno"> Seleccionar la Hora del Turno
            <input type="time" id="HoraTurno" name="HoraTurno" required>
        </label>

        <label for="fileToUpload"> Aqui para subir una imagen
            <input type="file" name="fileToUpload" id="fileToUpload" required>
        </label>
        

        <fieldset class="buttons-form">
            <input type="reset" id="inputReset" value="Limpiar">
            <input type="submit" id="inputSubmit" value="Enviar" name="Enviar">
        </fieldset>
        <p>(Todos los campos son obligatorios)</p>
    </form>

    {{parent()}}
   
</main>
{% endblock %}