{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/obrasSociales.css">
{% endblock %}

{% block body %}
<main class="main-OS">
    {% if tipo is defined %}
        {{ include('mensaje.html') }}
    {% endif %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/obras-sociales">Obras Sociales</a></li>
        </ul>
    </nav>
    <section class="container-main-os">
        <h2>Obras Sociales</h2>
        <form action="/obras-sociales/buscar" method="POST" class="os-search-form">
            <label for="input-OS-search">Ingrese la obra social a buscar</label>
            <fieldset class="os-search-set">
                <input type="text" name="input-OS-search" id="input-OS-search" placeholder="OSDE, OSPIN, etc" pattern="[a-zA-Z ]+">
                <button type="submit" class="botonBusqueda"></button>
            </fieldset>
        </form>  
        
        <ul class="list-result-os">
            {% for obraS in obrasSociales %}
                <li> {{obraS.fields['NameOS']}} </li>
            {% endfor %}
        </ul>
    </section>
    
    {{ parent() }}

</main>
{% endblock %}

