{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/profes-esp.css">
{% endblock %}

{% block body %}
<!-- Profesionales y especialidades -->
<main class="container-profesional">
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/html/profesionales-especialidades.html">Especialidades/Profesionales</a></li>
            <li><a href="/html/profesional.html">Profesional</a></li>
        </ul>
    </nav> 
    <section>
        <section class="container-prof profesional">
            <img src="/imagenes/doctor.svg" alt="foto-del-profesional">
            <h4> {{ prof['Name'] }} </h4>
            <p> {{ prof['DescripcionCargo'] }} </p>
        </section>
        <section class="info-profesional os-atiende">
            <h4>Obras Sociales que atiende</h4>
            <ul>
                {% for obra in obrasS %}
                    <li> {{ obra['NameOS'] }} </li>
                {% endfor %}
            </ul>
        </section>
        <section class="info-profesional horarios">
            <h4>Horarios</h4>
            <ul>
                {% for horario in horarios %}
                    <li> {{horario['Dia']}} :  {{horario['Hora_Inicio']}} hs a  {{horario['Hora_Fin']}} hs </li>
                {% endfor %}
            </ul>
            <a class="button btn-especialidad" href="/nuevo-turno?id_prof={{ ID_Prof }}">Sacar Turno</a>
        </section> 
    </section>

    {{ parent() }}

</main>
{% endblock %}