{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/register.css">
{% endblock %}

{% block body %}
<main>
    {% if tipo is defined %}
        {{ include('mensaje.html') }}
    {% endif %}
    <form action="/registrarse" method="POST">
        <label for="email">Ingrese Correo Electrónico:</label>
        <input type="text" id="email" name="Email" required>
        <label for="password">Ingrese Contraseña:</label>
        <input type="password" id="password" name="Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
        <input type="submit" name="register" value="Registrar">
    </form>

    {{parent()}}

</main>
{% endblock %}