{% extends "basic.html" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/profes-esp.css">
{% endblock %}

{% block body %}
<main>
    <table>
        <thead>
            <tr>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.fields["Email"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{parent()}}

</main>
{% endblock %}